<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <a href="#hero" class="logo d-flex align-items-center me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="themes/assets/img/logo.png" alt="STT Baptis Bandung">
      <h1>STT Baptis Bandung <br> <span>Bangkit, Berjaya, Menjadi Berkat</span></h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="#hero">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#academic">Academic</a></li>
        <!--li><a href="#events">Events</a></li-->
        <!--li><a href="#lecturer">Lecturer</a></li-->
        <!--li><a href="#gallery">Gallery</a></li-->
        <li class="dropdown"><a href="#"><span>More</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="https://sttbaptisbandung.sevimaplatform.com/gate/login" target="_blank">Siakad</a></li>
            <!--li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li-->
            <li><a href="https://sttbaptisbandung.ac.id/ejournal/index.php/bd/index" target="_blank">Jurnal</a></li>
            <!--li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li-->
          </ul>
        </li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->

    <!--a class="btn-book-a-table" href="#book-a-table">Something</a-->
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
  <div class="container">
    <div class="row justify-content-between gy-5">
      <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
        <h2 data-aos="fade-up">Why Choose Our Campus!</h2>
        <p data-aos="fade-up" data-aos-delay="100">Sekolah Tinggi Teologi Baptis Bandung terletak di 
        Jl. Soekarno Hatta 762 dapat menjadi pilihan Anda untuk diperlengkapi dan dipersiapkan menjadi 
        Hamba Tuhan yang siap melayani di gereja maupun masyarakat dengan keahlian dan ketrampilan sebagai 
        guru pendidikan Agama Kristen, Pendeta, utusan Injil dan lainnya. 
        Dengan program studi Teologi dan Pendidikan Agama Kristen untuk sarjana dan Magister Pendidikan Agama Kristen 
        untuk Pascasarjana, kami siap melayani Anda. Mari bergabung bersama kami.</p>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <!--a href="#book-a-table" class="btn-book-a-table">Something</a-->
          <a href="https://youtu.be/ydAoWj1L6G0" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
        <img src="themes/assets/img/hero-stt.jpg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
      </div>
    </div>
  </div>
</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <p>Learn More <span>About Us</span></p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-7 position-relative about-img" style="background-image: url(themes/assets/img/about-us.jpg) ;" data-aos="fade-up" data-aos-delay="150">
          <div class="call-us position-absolute">
            <h4>Call Us</h4>
            <p>+62859 74774 752</p>
          </div>
        </div>
        <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              Menjadi STT yang menghasilkan pelayan Injil yang cakap dalam melayani gereja dan masyarakat,
              yang mampu:
            </p>
            
            <ul>
              <li><i class="bi bi-check2-all"></i> Menjadi pelayan Injil yang berkarakter Kristus.</li>
              <li><i class="bi bi-check2-all"></i> Mengembangkan keilmuan yang tepat guna bagi masyarakat dan pertumbuhan gereja.</li>
              <li><i class="bi bi-check2-all"></i> Melaksanakan pelayanan dan pengabdian untuk meningkatkan kesejahteraan masyarakat sebagai wujud nyata iman Kristen.</li>
            </ul>

            <div class="position-relative mt-4">
              <img src="themes/assets/img/about-us-2.jpg" class="img-fluid" alt="">
              <a href="https://www.youtube.com/watch?v=32BRc-ChXzE" class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="why-box">
            <h3>Mengapa STT Baptis Bandung?</h3>
            <!--p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
            </p-->
            <div class="text-center">
              <!--a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a-->
            </div>
          </div>
        </div><!-- End Why Box -->

        <div class="col-lg-8 d-flex align-items-center">
          <div class="row gy-4">

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-clipboard-data"></i>
                <h4>Best Practice Experience</h4>
                <p>Berkesempatan untuk menerapkan ilmu yang diperoleh secara langsung di gereja dan sekolah-sekolah yang bekerja sama dengan kampus.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-gem"></i>
                <h4>Ready to Serve</h4>
                <p>Memiliki kesempatan yang lebih besar untuk melayani di berbagai tempat pelayanan seperti gereja, lembaga misi, dan lembagai kristen lainnya.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-inboxes"></i>
                <h4>Excellent Networking</h4>
                <p>Denominasi Baptis yang luas membuat mahasiswa lebih terafiliasi dengan gereja dan lembaga baptis di seluruh Indonesia.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Stats Counter Section ======= -->
  <!--section id="stats-counter" class="stats-counter">
    <div class="container" data-aos="zoom-out">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
            <p>Workers</p>
          </div>
        </div>

      </div>

    </div>
  </section--><!-- End Stats Counter Section -->

  <!-- ======= Menu Section ======= -->
  <section id="academic" class="menu">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Academic</h2>
        <p>Check Out <span>Our Choices Academic</span></p>
      </div>

      <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

        <li class="nav-item">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-sarjana">
            <h4>Sarjana</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-magister">
            <h4>Magister</h4>
          </a><!-- End tab nav item -->

      </ul>

      <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

        <div class="tab-pane fade active show" id="menu-sarjana">

          <div class="tab-header text-center">
            <p>Program Studi</p>
            <h3>Sarjana</h3>
          </div>

          <div class="row gy-5">

            <div class="col-lg-4 menu-item">
              <a href="themes/assets/img/menu/menu-item-1.png" class="glightbox"><img src="themes/assets/img/menu/sarjana-sth.jpg" class="menu-img img-fluid" alt=""></a>
              <h4>Teologi Kependetaan (S. Th)</h4>
              <!--p class="ingredients">
                Lorem, deren, trataro, filede, nerada
              </p-->
              <!--p class="price">
                $5.95
              </p-->
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="themes/assets/img/menu/menu-item-2.png" class="glightbox"><img src="themes/assets/img/menu/sarjana-spd.jpg" class="menu-img img-fluid" alt=""></a>
              <h4>Pendidikan Agama Kristen (S. Pd)</h4>
              <!--p class="ingredients">
                Lorem, deren, trataro, filede, nerada
              </p-->
              <!--p class="price">
                $14.95
              </p-->
            </div><!-- Menu Item -->

          </div>
        </div><!-- End Starter Menu Content -->

        <div class="tab-pane fade" id="menu-magister">

          <div class="tab-header text-center">
            <p>Program Studi</p>
            <h3>Magister</h3>
          </div>

          <div class="row gy-5">

            <div class="col-lg-4 menu-item">
              <a href="themes/assets/img/menu/menu-item-1.png" class="glightbox"><img src="themes/assets/img/menu/magister-mpd.jpg" class="menu-img img-fluid" alt=""></a>
              <h4>Magister Pendidikan Agama Kristen<br>(M. Pd)</h4>
              <!--p class="ingredients">
                Lorem, deren, trataro, filede, nerada
              </p-->
              <!--p class="price">
                $5.95
              </p-->
            </div><!-- Menu Item -->

          </div>
        </div><!-- End Breakfast Menu Content -->

      </div>

    </div>
  </section><!-- End Menu Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Testimonials</h2>
        <p>What Are They <span>Saying About Us</span></p>
      </div>

      <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      Saya banyak menemukan teladan hidup yang ditunjukan para dosen, yang membawa dampak bagi kehidupan saya, sehingga menlahirkan saya sebagai pribadi hamba Tuhan yang memiliki integritas dalam pelayanan saya sebagai seorang penginjil
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Ivone Wisye Takaelu, S.Th</h3>
                    <h4>Penginjil GKIM Gloria &amp; Guru SDK 3 Bina Bakti</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="themes/assets/img/testimonials/testimonials-1.jpg" class="img-fluid testimonial-img" alt="">
                </div>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      Saya mendapatkan baik dalam bidang pendidikannya dan tata krama di kampus Sttbb sangat baik. Dosen-dosen yang berendah hati, kreatif, berkualitas juga memiliki intensitas dan disiplin yang baik.
                      Kampus terbaik bagi saya secara pribadi
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Hendri, S.Pd</h3>
                    <h4>Guru GBI Antiokhia Medan</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="themes/assets/img/testimonials/testimonials-2.jpg" class="img-fluid testimonial-img" alt="">
                </div>
              </div>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

  <!-- ======= Events Section ======= -->
  <!-- section id="events" class="events">
    <div class="container-fluid" data-aos="fade-up">

      <div class="section-header">
        <h2>Events</h2>
        <p>Share <span>Your Moments</span> In Our Restaurant</p>
      </div>

      <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(themes/assets/img/events-1.jpg)">
            <h3>Kuliah Umum <br>Bersama Elijah Movement</h3>
            <div class="price align-self-start"></div>
            <p class="description">
              Quo corporis voluptas ea ad. Consectetur inventore sapiente ipsum voluptas eos omnis facere. Enim facilis veritatis id est rem repudiandae nulla expedita quas.
            </p>
          </div>

          <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(themes/assets/img/events-2.jpg)">
            <h3>Private Parties</h3>
            <div class="price align-self-start"></div>
            <p class="description">
              In delectus sint qui et enim. Et ab repudiandae inventore quaerat doloribus. Facere nemo vero est ut dolores ea assumenda et. Delectus saepe accusamus aspernatur.
            </p>
          </div>

          <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(themes/assets/img/events-3.jpg)">
            <h3>Birthday Parties</h3>
            <div class="price align-self-start"></div>
            <p class="description">
              Laborum aperiam atque omnis minus omnis est qui assumenda quos. Quis id sit quibusdam. Esse quisquam ducimus officia ipsum ut quibusdam maxime. Non enim perspiciatis.
            </p>
          </div>

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section--><!-- End Events Section -->

  <!-- ======= Chefs Section ======= -->
  <!--section id="lecturer" class="chefs section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Lecturers</h2>
        <p>Our <span>Proffesional</span> Lecturers</p>
      </div>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="chef-member">
            <div class="member-img">
              <img src="themes/assets/img/lecturers/dosen-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Yulius Wijaya, S.E., M.Th</h4>
              <span>Wakil Ketua 1 Akademik</span>
              <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="chef-member">
            <div class="member-img">
              <img src="themes/assets/img/lecturers/dosen-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Yulius Wijaya, S.E., M.Th</h4>
              <span>Wakil Ketua 1 Akademik</span>
              <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="chef-member">
            <div class="member-img">
              <img src="themes/assets/img/lecturers/dosen-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Yulius Wijaya, S.E., M.Th</h4>
              <span>Wakil Ketua 1 Akademik</span>
              <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section--><!-- End Chefs Section -->

  <!-- ======= Book A Table Section ======= -->
  <!--section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Book A Table</h2>
        <p>Book <span>Your Stay</span> With Us</p>
      </div>

      <div class="row g-0">

        <div class="col-lg-4 reservation-img" style="background-image: url(themes/assets/img/reservation.jpg);" data-aos="zoom-out" data-aos-delay="200"></div>

        <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
          <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
            <div class="row gy-4">
              <div class="col-lg-4 col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Book a Table</button></div>
          </form>
        </div>

      </div>

    </div>
  </section--><!-- End Book A Table Section -->

  <!-- ======= Gallery Section ======= -->
  <!--section id="gallery" class="gallery section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>gallery</h2>
        <p>Check <span>Our Gallery</span></p>
      </div>

      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="themes/assets/img/gallery/gallery-1.jpg"><img src="themes/assets/img/gallery/gallery-1.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="themes/assets/img/gallery/gallery-2.jpg"><img src="themes/assets/img/gallery/gallery-2.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="themes/assets/img/gallery/gallery-3.jpg"><img src="themes/assets/img/gallery/gallery-3.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="themes/assets/img/gallery/gallery-4.jpg"><img src="themes/assets/img/gallery/gallery-4.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="themes/assets/img/gallery/gallery-5.jpg"><img src="themes/assets/img/gallery/gallery-5.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="themes/assets/img/gallery/gallery-6.jpg"><img src="themes/assets/img/gallery/gallery-6.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="themes/assets/img/gallery/gallery-7.jpg"><img src="themes/assets/img/gallery/gallery-7.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="themes/assets/img/gallery/gallery-8.jpg"><img src="themes/assets/img/gallery/gallery-8.jpg" class="img-fluid" alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section-->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Contact</h2>
        <p>Need Help? <span>Contact Us</span></p>
      </div>

      <div class="mb-3">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.6189909796594!2d107.7118004!3d-6.936058200000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68c2d9cb1ec703%3A0x21ca8a96e22a8e84!2sSekolah%20Tinggi%20Teologi%20Baptis%20Bandung!5e0!3m2!1sen!2sid!4v1721792569672!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->

      <div class="row gy-4">

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
              <h3>Our Address</h3>
              <p>Jl. Soekarno Hatta No.762, Cipadung Kidul, Kec. Panyileukan, Kota Bandung, Jawa Barat 40614</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p>sttbaptis.bdg@gmail.com</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+6222 7801 746</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-share flex-shrink-0"></i>
            <div>
              <h3>Opening Hours</h3>
              <div><strong>Mon-Fri:</strong> 08AM - 16PM;
                <strong>Saturday & Sunday:</strong> Closed
              </div>
            </div>
          </div>
        </div><!-- End Info Item -->

      </div>

      <!--form action="forms/contact.php" method="post" role="form" class="php-email-form p-3 p-md-4">
        <div class="row">
          <div class="col-xl-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-xl-6 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form--><!--End Contact Form -->

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

  